*.zip
*.jpg
/vern_data
model.h5
/sinusoid
/swerve
/recover_right2
/recover_left
/recover_right
/recover_right3
/data
/sinusoidmtn
/slalom
/smooth
/smoothmtn
/smoothreverse
/right_edge_turn
/swerve3laps
/leftavoid
/recoveryLeft2
/recoveryRight4
/rightTurn
/smoothLaps
/leftAvoid
/smoothMtn2
*.mp4
/ps3_3laps_smooth
/ps3_3laps_smooth_rev
/ps3_mtn_smooth_3laps
/ps3_sooth_mtn_rev
