*.zip
*.jpg
/vern_data
model.h5
/sinusoid
/swerve
/recover_right2
/recover_left
/recover_right
/recover_right3
/data
/sinusoidmtn
/slalom
/smooth
/smoothmtn
/smoothreverse
/right_edge_turn
swerve3laps/
